#pg-1 {
    padding: 0 5px;
    max-width: 1500px;
    margin: 0 auto;
    
}

#pg-1 a:hover {
    text-decoration: underline var(--color-orenge);
    color: var(--color-orenge);
}


.img {
    display: grid;
    grid-template-columns: 1fr 5fr 6fr 3fr;
    grid-gap: 5px;
}



.img__left ul li img{
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}

.img__left ul li img:hover{
    border: 1px solid var(--color-orenge);
    box-shadow: 2px 2px 2px var(--color-orenge);
}

.img__left ul li img:hover{
    border: 1px solid var(--color-orenge);
    box-shadow: 2px 2px 2px var(--color-orenge);
}

.figure {
    height: 100%;
    width: 100%;
    
}
.img__left {
    position: relative;
}

.imga {
    position: absolute;
    width: 30vw;
    top: 0;
    left: 60px;
}

.img__rating {
    display: flex;
}

.edition button {
    margin: 10px 10px 0 0; 
    padding: 7px;
    border-radius: 2px;
    background: white;
    cursor: pointer;
    border: 1px solid var(--color-grey);
}

.edition button:hover {
    background: rgb(240, 237, 237);
}

.Details ul {
    padding: 20px;
    list-style: circle;
    line-height: 19px;
    
}

.img__rigth {
    display: flex;
    flex-direction: column;
    font-size:13px;
    margin-right: 20px;
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.img__rigth button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.img__rigth__buy button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-image: linear-gradient(rgb(247, 224, 183), var(--color-orenge));
    border: 1px solid brown;
    border-radius: 3px;
}

.cart {
    background: var(--color-black);
    padding: 5px;
}

.img__rigth__buy button span {
    flex-grow: 1;
}


.img__rigth__sell-your {
    background-image: url(./image/sellbox-card-bg._CB485934749_.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}
